@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-step-progress-bar {
    width: 100%;
    height: 4px;
    display: flex;
    .pbg-step-progress-bar-step {
      background-color: $green-10;
      display: flex;
      margin-right: 2px;
      height: 100%;
      flex-grow: 1;
      &:last-child {
        margin-right: 0;
      }
      &.pbg-step-progress-bar-step-complete {
        background-color: $green-60;
      }
    }
  }
}
