// Font families
$roboto: 'Roboto', serif;

// Font sizes
$large-font: 17px;
$large-line-height: 25px;
$regular-font: 14px;
$regular-line-height: 21px;
$mobile-regular-line-height: 20px;
$small-line-height: 16px;
$small-font: 12px;
