// Icons
$facebook-icon: url('../img/facebook-icon.svg');
$facebook-logo: url('../img/facebook-logo.svg');
$pulse-icon-white: url('../img/pulse-icon-white.svg');
$list-icon-white: url('../img/view-list-icon-white.svg');
$pulse-icon-grey: url('../img/pulse-icon-grey.svg');
$list-icon-grey: url('../img/view-list-icon-grey.svg');

.pbg-icon-small {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
}

.pbg-icon-big {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-size: cover;
  background-repeat: no-repeat;
}

// Small icons

// Email & Messaging

.pbg-icon-envelope-closed-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-envelope-closed-small.svg');
}

.pbg-icon-speech-bubble-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-speech-bubble-small.svg');
}

// Editing

.pbg-icon-edit-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-edit-small.svg');
}

.pbg-icon-org-controls-small-gray {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-org-controls-small-gray.svg');
}

.pbg-icon-org-controls-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-org-controls-small-blue.svg');
}

.pbg-icon-cog-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-cog-small-blue.svg');
}

.pbg-icon-cog-small-gray {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-cog-small-gray.svg');
}

// Group Invites

.pbg-icon-envelope-open-small-gray {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-envelope-open-small-gray.svg');
}

.pbg-icon-envelope-open-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-envelope-open-small-blue.svg');
}

// Group Creation

.pbg-icon-rocket-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-rocket-small.svg');
}

// Users

.pbg-icon-add-user-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-add-user-small-blue.svg');
}

.pbg-icon-add-user-small-gray {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-add-user-small-gray.svg');
}

.pbg-icon-org-identifier-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-org-identifier-small.svg');
}

.pbg-icon-user-contribution-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-user-contribution-small.svg');
}

.pbg-icon-user-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-user-small.svg');
}

.pbg-icon-users-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-users-small.svg');
}

// Payment

.pbg-icon-credit-card-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-credit-card-small.svg');
}

.pbg-icon-lock-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-lock-small.svg');
}

.pbg-icon-unlock-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-unlock-small.svg');
}

.pbg-icon-price-tag-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-price-tag-small.svg');
}

.pbg-icon-credit-card-error-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-credit-card-error-small.svg');
}

.pbg-icon-credit-card-pending-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-credit-card-pending-small.svg');
}

.pbg-icon-transaction-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-transaction-small.svg');
}

.pbg-icon-credit-card-add-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-credit-card-add-small.svg');
}

.pbg-icon-credit-card-subtract-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-credit-card-subtract-small.svg');
}

// Purchase

.pbg-icon-cart-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-cart-small.svg');
}

// Date/Time

.pbg-icon-calendar-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-calendar-small.svg');
}

.pbg-icon-calendar-start-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-calendar-start-small.svg');
}

.pbg-icon-calendar-end-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-calendar-end-small.svg');
}

.pbg-icon-clock-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-clock-small.svg');
}

.pbg-icon-hour-glass-small {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-hour-glass-small.svg');
}

// Information

.pbg-icon-lock-pending-big {
  @extend .pbg-icon-big;
  background: url('../../shared/img/pbg-rocket-big.svg');
}

.pbg-icon-credit-cards-success-big {
  @extend .pbg-icon-big;
  background: url('../../shared/img/pbg-credit-cards-success-big.svg');
}

.pbg-icon-credit-cards-pending-big {
  @extend .pbg-icon-big;
  background: url('../../shared/img/pbg-credit-cards-pending-big.svg');
}

.pbg-icon-credit-cards-error-big {
  @extend .pbg-icon-big;
  background: url('../../shared/img/pbg-credit-cards-error-big.svg');
}

.pbg-icon-lock-pending-big {
  @extend .pbg-icon-big;
  background: url('../../shared/img/pbg-lock-pending-big.svg');
}

.pbg-icon-arrow-down-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-arrow-down-small-blue.svg');
}

.pbg-icon-arrow-left-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-arrow-left-small-blue.svg');
}

.pbg-icon-arrow-right-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-arrow-right-small-blue.svg');
}

.pbg-icon-arrow-up-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-arrow-up-small-blue.svg');
}

.pbg-icon-back-arrow-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-back-arrow-small-blue.svg');
}

.pbg-icon-cross-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-cross-small-blue.svg');
}

.pbg-icon-dots-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-dots-small-blue.svg');
}

.pbg-icon-large-arrow-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-large-arrow-small-blue.svg');
}

.pbg-icon-menu-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-menu-small-blue.svg');
}

.pbg-icon-minus-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-minus-small-blue.svg');
}

.pbg-icon-plus-small-blue {
  @extend .pbg-icon-small;
  background: url('../../shared/img/pbg-plus-small-blue.svg');
}
