// Color palette
$almost-white: #f3f3f3;
$pbg-blue: #2EAFFF;
$pbg-blue-light: #2E3AA1;
$cloudy-blue: #b4bfcc;
$clear-blue: #2c81ff;
$sapphire-blue: #384c9f;
$emerald-green: #5ad17c;
$dark-green: #226134;
$bluish: #2568d0;
$pale-grey: #f5f8fb;
$greyish-brown: #4c4c4c;
$white: #fff;
$cool-grey: #8f98a3;
$pinkish-grey: #cfcfcf;
$coral: #f86143;
$coral-error: #f76143;
$coral-light: #fbe9e5;
$black: #000;
$black-19: rgba(0, 0, 0, .19);
$black-25: rgba(0, 0, 0, .25);
$white-1: rgba(255, 255, 255, .1);
$facebook-color: #4267B2;
$blue-gradient: linear-gradient(267deg, $pbg-blue-light, $pbg-blue);
$blue-linear: linear-gradient(90deg, $pbg-blue 0%, $pbg-blue-light 196.67%);

$cta-shadow: inset 0px -1px 0px rgba(17, 24, 30, 0.5);
$cta-disabled-shadow: inset 0px -1px 0px rgba(17, 24, 30, 0.15);

$grey-10: #F0F3F8;
$grey-30: #D5DDE9;
$grey-40: #BCC7D3;
$grey-50: #8093A6;
$grey-60: #526679;
$grey-80: #24313E;

$red-10: #F9DCDC;
$red-60: #E02E2E;

$yellow-10: #FFF3DD;
$yellow-60: #FFBB33;

$blue-10: #ECF4FF;
$blue-20: #D9E9FF;
$blue-30: #BBD7FF;
$blue-40: #7DB3FF;
$blue-50: #3388FF;
$blue-60: #006AFF;
$blue-70: #0055CC;
$blue-80: #0044A3;
$blue-90: #003682;
$blue-100: #002B68;
$blue-facebook: #3B5998;

$green-10: #E2F4E6;
$green-60: #53BC6A;

// Font families
$roboto: 'Roboto', serif;

// Font sizes
$large-font: 17px;
$large-line-height: 25px;
$regular-font: 14px;
$regular-line-height: 21px;
$small-line-height: 16px;
$small-font: 12px;

// Icons
$facebook-icon: url('../img/facebook-icon.svg');
$facebook-logo: url('../img/facebook-logo.svg');
$pulse-icon-white: url('../img/pulse-icon-white.svg');
$list-icon-white: url('../img/view-list-icon-white.svg');
$pulse-icon-grey: url('../img/pulse-icon-grey.svg');
$list-icon-grey: url('../img/view-list-icon-grey.svg');

// Design System
// Not all "components" are really components, some can be styles that get extended
// or used to compose a new component.

.pbg-clearfix {
  content: "";
  clear: both;
  display: table;
}

// Headings
.pbg-desktop-heading-1 {
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  color: $grey-80;
  font-size: 38px;
  line-height: 48px;
}

.pbg-desktop-heading-2 {
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  color: $grey-80;
  font-size: 28px;
  line-height: 38px;
}

.pbg-desktop-heading-3 {
  font-family: $roboto;
  font-style: normal;
  color: $grey-80;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

// Labels
.pbg-desktop-label-normal {
  color: $grey-80;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: $regular-font;
  line-height: $regular-line-height;
}

.pbg-desktop-label-strong {
  @extend .pbg-desktop-label-normal;
  font-weight: bold;
}

.pbg-desktop-label-link {
  @extend .pbg-desktop-label-normal;
  color: $blue-60;
}

.pbg-desktop-label-error {
  @extend .pbg-desktop-label-normal;
  color: $red-60;
}

// Text
.pbg-desktop-regular-text {
  @extend .pbg-desktop-label-normal;
}

.pbg-desktop-secondary-text {
  @extend .pbg-desktop-regular-text;
  color: $grey-60;
}

.pbg-desktop-upcase-text {
  text-transform: uppercase;
}

.pbg-desktop-strong-text {
  font-weight: bold;
}

.pbg-desktop-italic-text {
  font-style: italic;
}

// Paragraph
.pbg-desktop-paragraph {
  @extend .pbg-desktop-regular-text;
}

.pbg-desktop-paragraph-secondary {
  @extend .pbg-desktop-secondary-text;
}

// Small
.pbg-desktop-small-text {
  @extend .pbg-desktop-regular-text;
  font-size: $small-font;
  line-height: $small-line-height;
}

.pbg-desktop-small-link {
  @extend .pbg-desktop-label-link;
  font-size: $small-font;
  line-height: $small-line-height;
}

.pbg-desktop-small-error {
  @extend .pbg-desktop-label-error;
  font-size: $small-font;
  line-height: $small-line-height;
}

.pbg-desktop-small-strong {
  @extend .pbg-desktop-label-strong;
  font-size: $small-font;
  line-height: $small-line-height;
}

// List
.pbg-desktop-list-unordered {
  @extend .pbg-desktop-label-normal;
  list-style-image: url('../../desktop/img/pbg-list-bullet.svg');
}

.pbg-desktop-list-ordered {
  @extend .pbg-desktop-label-normal;
}

.regular-text {
  color: $greyish-brown;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: $regular-font;
  line-height: $regular-line-height;
}

.label-strong {
  font-weight: 500;
}

// Shadows
.pbg-desktop-shadow-level-one {
  box-shadow: 0px 3px 5px rgba(17, 24, 30, 0.05);
}

.pbg-desktop-shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06);
}

.pbg-desktop-cta-disabled-shadow {
  box-shadow: $cta-disabled-shadow;
}

.pbg-desktop-form-field-disabled {
  @extend .pbg-desktop-secondary-text;
  background: $grey-10;
}

// Mobile Text Styles

.pbg-mobile-heading-1 {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: $grey-80;
}

.pbg-mobile-heading-2 {
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 28px;
  color: $grey-80;
}

.pbg-mobile-paragraph {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $grey-80;
}

.pbg-mobile-paragraph-error {
  @extend .pbg-mobile-paragraph;
  color: $red-60;
}

.pbg-mobile-label-strong {
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: $grey-80;
}

.pbg-mobile-label-link {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $blue-60;
}

.pbg-mobile-label-secondary {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $grey-60;
}

.pbg-mobile-small-text {
  font-family: $roboto;
  color: $grey-80;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.pbg-mobile-small-secondary {
  font-family: $roboto;
  color: $grey-60;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.pbg-mobile-hint-normal {
  font-family: $roboto;
  color: $grey_60;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.pbg-mobile-hint-error {
  @extend .pbg-mobile-hint-normal;
  color: $red-60;
}

.pbg-mobile-hint-clickable {
  @extend .pbg-mobile-hint-normal;
  color: $blue-60;
  cursor: pointer;
}