@import 'colors';
@import 'fonts';
@import 'icons';

// Logos

.pbg-logo-powered-by {
  display: inline-block;
  width: 65px;
  height: 12px;
  background-size: cover;
  background: url('../../shared/img/pbg-powered-by-logo.svg');
}

.pbg-logo-powered-by-gray {
  @extend .pbg-logo-powered-by;
  background: url('../../shared/img/pbg-powered-by-logo-gray.svg');
}

// Design System
// Not all "components" are really components, some can be styles that get extended
// or used to compose a new component.

.pbg-clearfix {
  content: '';
  clear: both;
  display: table;
}

// Headings
.pbg-desktop-heading-1 {
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  color: $gray-80;
  font-size: 38px;
  line-height: 48px;
}

.pbg-desktop-heading-2 {
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  color: $gray-80;
  font-size: 28px;
  line-height: 38px;
}

.pbg-desktop-heading-3 {
  font-family: $roboto;
  font-style: normal;
  color: $gray-80;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

// Labels
.pbg-desktop-label-normal {
  color: $gray-80;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: $regular-font;
  line-height: $regular-line-height;
}

.pbg-desktop-label-strong {
  @extend .pbg-desktop-label-normal;
  font-weight: bold;
}

.pbg-desktop-label-link {
  @extend .pbg-desktop-label-normal;
  color: $blue-60;
}

.pbg-desktop-label-error {
  @extend .pbg-desktop-label-normal;
  color: $red-60;
}

// Text
.pbg-desktop-regular-text {
  @extend .pbg-desktop-label-normal;
}

.pbg-desktop-secondary-text {
  @extend .pbg-desktop-regular-text;
  color: $gray-60;
}

.pbg-desktop-upcase-text {
  text-transform: uppercase;
}

.pbg-desktop-strong-text {
  font-weight: bold;
}

.pbg-desktop-italic-text {
  font-style: italic;
}

// Paragraph
.pbg-desktop-paragraph {
  @extend .pbg-desktop-regular-text;
}

.pbg-desktop-paragraph-secondary {
  @extend .pbg-desktop-secondary-text;
}

// Small
.pbg-desktop-small-text {
  @extend .pbg-desktop-regular-text;
  font-size: $small-font;
  line-height: $small-line-height;
}

.pbg-desktop-small-link {
  @extend .pbg-desktop-label-link;
  font-size: $small-font;
  line-height: $small-line-height;
}

.pbg-desktop-small-error {
  @extend .pbg-desktop-label-error;
  font-size: $small-font;
  line-height: $small-line-height;
}

.pbg-desktop-small-strong {
  @extend .pbg-desktop-label-strong;
  font-size: $small-font;
  line-height: $small-line-height;
}

// List
.pbg-desktop-list-unordered {
  @extend .pbg-desktop-label-normal;
  list-style-image: url('../../desktop/img/pbg-list-bullet.svg');
}

.pbg-desktop-list-ordered {
  @extend .pbg-desktop-label-normal;
}

.regular-text {
  color: $gray-80;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: $regular-font;
  line-height: $regular-line-height;
}

.label-strong {
  font-weight: 500;
}

// Shadows
.pbg-desktop-shadow-level-one {
  box-shadow: 0px 3px 5px rgba(17, 24, 30, 0.05);
}

.pbg-desktop-shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06);
}

.pbg-desktop-cta-disabled-shadow {
  box-shadow: $cta-disabled-shadow;
}

.pbg-desktop-form-field-disabled {
  @extend .pbg-desktop-secondary-text;
  background: $gray-10;
}

// Mobile Text Styles

.pbg-mobile-heading-1 {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: $gray-80;
}

.pbg-mobile-heading-2 {
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 28px;
  color: $gray-80;
}

.pbg-mobile-heading-3 {
  font-family: $roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray-80;
}

.pbg-mobile-label-normal {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: $regular-font;
  line-height: $mobile-regular-line-height;
  color: $gray-80;
}

.pbg-mobile-label-strong {
  @extend .pbg-mobile-label-normal;
  font-weight: bold;
}

.pbg-mobile-label-link {
  @extend .pbg-mobile-label-normal;
  color: $blue-60;
}

.pbg-mobile-label-error {
  @extend .pbg-mobile-label-normal;
  color: $red-60;
}

.pbg-mobile-label-secondary {
  @extend .pbg-mobile-label-normal;
  color: $gray-60;
}

.pbg-mobile-paragraph {
  @extend .pbg-mobile-label-normal;
}

.pbg-mobile-paragraph-error {
  @extend .pbg-mobile-paragraph;
  color: $red-60;
}

.pbg-mobile-small-normal {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: $gray-60;
}

.pbg-mobile-small-error {
  @extend .pbg-mobile-small-normal;
  color: $red-60;
}

.pbg-mobile-small-link {
  @extend .pbg-mobile-small-normal;
  color: $blue-60;
  cursor: pointer;
}

.pbg-mobile-form-field-disabled {
  @extend .pbg-mobile-label-secondary;
  background: $gray-10;
}

.pbg-mobile-list-unordered {
  @extend .pbg-mobile-label-normal;
  list-style-image: url('../../mobile/img/pbg-list-bullet.svg');
}

.pbg-mobile-list-ordered {
  @extend .pbg-mobile-label-normal;
}

// Shadows
.pbg-mobile-shadow-level-one {
  box-shadow: 0px 3px 5px rgba(17, 24, 30, 0.05);
}

.pbg-mobile-shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06);
}
