@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
svg.pbg-avatar {
  object-fit: cover; }

img.pbg-avatar {
  border-radius: 50%; }

div.pbg-avatar {
  border-radius: 50%; }
  div.pbg-avatar > div {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    padding-top: 7px;
    text-align: center;
    font-family: monospace "Roboto Mono"; }
  div.pbg-avatar.single > div {
    padding-top: 7px; }
