@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed);
.pbg-form-field.pbg-date-picker .pbg-label {
  margin-bottom: 8px; }

.pbg-form-field.pbg-date-picker.pbg-form-field-error .pbg-date-picker-container .pbg-date-picker-mask {
  background: #fbe9e5;
  border: 1px solid #f76143; }
  .pbg-form-field.pbg-date-picker.pbg-form-field-error .pbg-date-picker-container .pbg-date-picker-mask .pbg-picker-arrow {
    background: url("../img/pbg-picker-arrow-error.svg") no-repeat; }

.pbg-form-field.pbg-date-picker .pbg-date-picker-container {
  position: relative;
  width: 100%;
  height: 36px; }
  .pbg-form-field.pbg-date-picker .pbg-date-picker-container .pbg-date-picker-mask {
    background: #f5f8fb;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
    .pbg-form-field.pbg-date-picker .pbg-date-picker-container .pbg-date-picker-mask .pbg-label {
      padding: 7px; }
    .pbg-form-field.pbg-date-picker .pbg-date-picker-container .pbg-date-picker-mask .pbg-picker-arrow {
      background: url("../img/pbg-picker-arrow.svg") no-repeat;
      position: absolute;
      right: 7px;
      width: 7px;
      height: 7px;
      top: 13px; }
  .pbg-form-field.pbg-date-picker .pbg-date-picker-container input[type="date"] {
    background: #f5f8fb;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    border-radius: 4px;
    height: 100%;
    outline: 0;
    width: 100%; }
    .pbg-form-field.pbg-date-picker .pbg-date-picker-container input[type="date"]:focus {
      outline: 0; }
