.pbg-consumer-mobile {
  &.pbg-external-link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    .pbg-icon-external-link-small-blue {
      width: 12px;
      height: 12px;
      background-size: cover;
      margin-left: 4px;
    }
  }
}
