@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-form-field {
    &.pbg-text-field {
      .pbg-label {
        @extend .pbg-mobile-label-normal;
        margin: 0 0 5px 2px;

        &.pbg-label-error {
          @extend .pbg-desktop-label-error;
        }
      }

      input {
        @extend .pbg-mobile-label-normal;
        border: 1px solid $grey-50;
        border-radius: 4px;
        height: 40px;
        outline: none;
        width: 100%;
        padding: 8px;

        &::placeholder {
          @extend .pbg-mobile-label-normal;
          color: $grey-60;
        }

        &:-moz-placeholder,
        &::-moz-placeholder {
          opacity: 1;
        }

        &::-ms-clear {
          display: none;
        }

        &:focus {
          outline: none;
          border-color: $blue-60;
        }

        &:disabled {
          background-color: $grey-10;
          color: $grey-60;
        }
      }
    }

    &.pbg-form-field-error {
      input {
        border-color: $red-60;
      }
    }
  }
}
