@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-hint {
    @extend .pbg-mobile-small-normal;
  }

  &.pbg-hint-error {
    @extend .pbg-mobile-small-error;
    &:before {
      content: url('../img/small-error-icon.svg');
      margin-right: 4px;
      top: 3px;
      position: relative;
    }
  }

  &.pbg-hint-clickable {
    @extend .pbg-mobile-small-link;
  }
}
