.shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06); }

.normal-label, .strong-label, .clickable-label {
  color: #24313E;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.strong-label {
  font-weight: bold; }

.clickable-label {
  color: #006AFF; }

.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.label-strong {
  font-weight: 500; }

.pbg-consumer-mobile.pbg-hint {
  color: #8f98a3;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  line-height: 15px;
  font-size: 12px; }

.pbg-consumer-mobile.pbg-hint-error {
  color: #f76143; }

.pbg-consumer-mobile.pbg-hint-clickable {
  color: #2c81ff;
  cursor: pointer; }
