@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Condensed);
.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.label-strong {
  font-weight: 500; }

.pbg-consumer-mobile.pbg-hint {
  color: #8f98a3;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  line-height: 15px;
  font-size: 12px; }

.pbg-consumer-mobile.pbg-hint-error {
  color: #f76143; }

.pbg-consumer-mobile.pbg-hint-clickable {
  color: #2c81ff;
  cursor: pointer; }
