@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-share-link {
    height: 40px;
    background: $gray-10;
    border: 1px solid $gray-30;
    border-radius: 4px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    .pbg-icon-link-small-gray {
      margin-right: 8px;
    }
  }
}
