.pbg-clearfix {
  content: "";
  clear: both;
  display: table; }

.pbg-desktop-heading-1 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-size: 38px;
  line-height: 48px; }

.pbg-desktop-heading-2 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-size: 28px;
  line-height: 38px; }

.pbg-desktop-heading-3, .pbg-consumer-desktop.pbg-picker.pbg-picker-big .pbg-picker-container button {
  font-family: "Roboto", serif;
  font-style: normal;
  color: #24313E;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px; }

.pbg-desktop-label-normal, .pbg-desktop-label-strong, .pbg-desktop-small-strong, .pbg-desktop-label-link, .pbg-desktop-small-link, .pbg-desktop-label-error, .pbg-desktop-small-error, .pbg-desktop-regular-text, .pbg-desktop-secondary-text, .pbg-desktop-paragraph-secondary, .pbg-desktop-form-field-disabled, .pbg-desktop-paragraph, .pbg-desktop-small-text, .pbg-consumer-desktop.pbg-picker .pbg-picker-container button, .pbg-desktop-list-unordered, .pbg-desktop-list-ordered {
  color: #24313E;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.pbg-desktop-label-strong, .pbg-desktop-small-strong {
  font-weight: bold; }

.pbg-desktop-label-link, .pbg-desktop-small-link {
  color: #006AFF; }

.pbg-desktop-label-error, .pbg-desktop-small-error {
  color: #E02E2E; }

.pbg-desktop-secondary-text, .pbg-desktop-paragraph-secondary, .pbg-desktop-form-field-disabled {
  color: #526679; }

.pbg-desktop-small-text, .pbg-consumer-desktop.pbg-picker .pbg-picker-container button {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-link {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-error {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-strong {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-list-unordered {
  list-style-image: url("../../desktop/img/pbg-list-bullet.svg"); }

.regular-text, .pbg-consumer-desktop.pbg-picker .pbg-picker-container .pbg-picker-button {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.label-strong {
  font-weight: 500; }

.pbg-desktop-shadow-level-one {
  box-shadow: 0px 3px 5px rgba(17, 24, 30, 0.05); }

.pbg-desktop-shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06); }

.pbg-desktop-cta-disabled-shadow {
  box-shadow: inset 0px -1px 0px rgba(17, 24, 30, 0.15); }

.pbg-desktop-form-field-disabled {
  background: #F0F3F8; }

.pbg-consumer-desktop.pbg-picker .pbg-picker-container {
  position: relative; }
  .pbg-consumer-desktop.pbg-picker .pbg-picker-container button {
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    max-width: 100%;
    border: 0;
    padding: 0; }
    .pbg-consumer-desktop.pbg-picker .pbg-picker-container button:focus {
      outline: 0; }
    .pbg-consumer-desktop.pbg-picker .pbg-picker-container button .pbg-picker-arrow {
      background: url("../img/pbg-picker-arrow.svg") no-repeat center;
      display: block;
      pointer-events: none; }
  .pbg-consumer-desktop.pbg-picker .pbg-picker-container .pbg-picker-button {
    background: #fff;
    border: 1px solid #8093A6;
    border-radius: 4px;
    min-width: 95px;
    padding: 8px 25px 9px 7px; }
    .pbg-consumer-desktop.pbg-picker .pbg-picker-container .pbg-picker-button .pbg-picker-arrow {
      position: absolute;
      width: 18px;
      height: 18px;
      right: 3px;
      top: 11px; }
  .pbg-consumer-desktop.pbg-picker .pbg-picker-container .pbg-picker-text span {
    margin-top: 2px; }
  .pbg-consumer-desktop.pbg-picker .pbg-picker-container .pbg-picker-text .pbg-picker-arrow {
    width: 18px;
    height: 18px;
    float: right; }

.pbg-consumer-desktop.pbg-picker.pbg-form-field-error .pbg-picker-button {
  border: 1px solid #E02E2E; }

.pbg-consumer-desktop.pbg-picker.pbg-form-field-error .pbg-picker-text {
  color: #E02E2E; }

.pbg-consumer-desktop.pbg-picker.pbg-form-field-disabled .pbg-picker-button,
.pbg-consumer-desktop.pbg-picker.pbg-form-field-disabled .pbg-picker-text {
  color: #526679; }
  .pbg-consumer-desktop.pbg-picker.pbg-form-field-disabled .pbg-picker-button .pbg-picker-arrow,
  .pbg-consumer-desktop.pbg-picker.pbg-form-field-disabled .pbg-picker-text .pbg-picker-arrow {
    background: url("../img/pbg-picker-disabled-arrow.svg") no-repeat center; }

.pbg-consumer-desktop.pbg-picker.pbg-form-field-disabled .pbg-picker-button {
  background: #F0F3F8;
  border: 1px solid #8093A6; }
  .pbg-consumer-desktop.pbg-picker.pbg-form-field-disabled .pbg-picker-button .pbg-picker-arrow {
    background-position: top center; }

.pbg-consumer-desktop.pbg-picker.pbg-picker-big .pbg-picker-container button {
  padding: 4px 25px 6px 7px; }
