@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-container {
    border-radius: 4px;
    position: absolute;
    z-index: 1050;

    &.pbg-container-solid {
      background: $white;
    }
    &.pbg-container-stroked {
      border: 1px solid $grey-30;
    }
    &.pbg-container-shadow-1 {
      @extend .pbg-desktop-shadow-level-one;
    }
    &.pbg-container-shadow-2 {
      @extend .pbg-desktop-shadow-level-two;
    }
    &.pbg-container-full-width {
      width: 100%;
    }
  }
}
