@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-status {
    display: flex;

    .pbg-status-wrapper {
      display: flex;

      .pbg-status-icon-container {
        display: flex;
        justify-content: center;
        height: 40px;
        width: 40px;
        border: 1px solid $gray-30;
        border-radius: 50%;
        align-items: center;
        margin-right: 8px;
      }

      .pbg-status-texts-wrapper {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        .pbg-mobile-small-normal {
          display: flex;
        }
      }
    }

    .pbg-icon-link-question-mark-blue {
      margin-left: 4px;
    }
  }
}
