.shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06); }

.normal-label, .strong-label, .clickable-label {
  color: #24313E;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.strong-label {
  font-weight: bold; }

.clickable-label {
  color: #006AFF; }

.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.label-strong {
  font-weight: 500; }

.pbg-consumer-mobile.pbg-form-field.pbg-text-field.pbg-text-area textarea {
  border: 0;
  border-bottom: 1px solid;
  border-color: #8f98a3;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: -6px;
  outline: 0;
  padding-bottom: 8px;
  resize: none;
  width: 100%;
  overflow: hidden;
  height: auto; }
  .pbg-consumer-mobile.pbg-form-field.pbg-text-field.pbg-text-area textarea::placeholder {
    color: #8f98a3;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px; }
  .pbg-consumer-mobile.pbg-form-field.pbg-text-field.pbg-text-area textarea:focus {
    outline: none; }

.pbg-consumer-mobile.pbg-form-field.pbg-text-field.pbg-text-area.pbg-form-field-error textarea {
  border-color: #f76143; }
