@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed);
.pgb-consumer-mobile.pbg-form-field.pbg-text-field.pbg-text-area textarea {
  border: 0;
  border-bottom: 1px solid;
  border-color: #8f98a3;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: -6px;
  outline: 0;
  padding-bottom: 8px;
  resize: none;
  width: 100%; }
  .pgb-consumer-mobile.pbg-form-field.pbg-text-field.pbg-text-area textarea::placeholder {
    color: #8f98a3;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px; }
  .pgb-consumer-mobile.pbg-form-field.pbg-text-field.pbg-text-area textarea:focus {
    outline: none; }

.pgb-consumer-mobile.pbg-form-field.pbg-text-field.pbg-text-area.pbg-form-field-error textarea {
  border-color: #f76143; }
