@import '../../shared/scss/styleguide';
.pbg-consumer-mobile {
  &.pbg-form-field {
    &.pbg-text-field {
      &.pbg-text-area {

        textarea {
          display: block;
          border: 1px solid $grey-50;
          border-radius: 4px;
          padding: 9px 7px;
          color: $grey-80;
          background: $white;
          line-height: 20px;
          font-size: 14px;
          outline: 0;
          resize: none;
          width: 100%;
          overflow: hidden;
          height: auto;
          -webkit-appearance: none;

          &::placeholder {
            @extend .pbg-mobile-label-secondary;
            opacity: 1;
          }
          &:focus {
            outline: none;
          }
        }

        &.pbg-form-field-focused {
          textarea {
            border-color: $blue-60;
          }
        }

        &.pbg-form-field-error {
          textarea {
            border-color: $coral-error;
          }
        }

        &.pbg-form-field-disabled {
          textarea {
            @extend .pbg-mobile-form-field-disabled;

            color: $grey-70;
            -webkit-text-fill-color: $grey-70;
            opacity: 1; /* required on iOS */
          }
        }

        .pbg-hint {
          @extend .pbg-mobile-small-normal;
        }
      }
    }
  }
}
