@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-contributor-card {
    background: $white;
    border-radius: 4px;
    font-family: Roboto;

    .pbg-contributor-card-heading {
      @extend .label-strong;
      background: $blue-linear;
      color: $white;
      border-radius: 4px 4px 0 0;
      line-height: 15px;
      text-align: center;
      height: 30px;
      padding: 7px 6px 5px;
    }

    .pbg-contributor-card-body {
      padding: 16px;
      h2 {
        text-align: center;
      }
      .pbg-contributor-card-content {
        text-align: center;
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .pbg-contributor-card-ctas {
      padding: 0 8px;
      > div {
        border-top: 1px solid $almost-white;
        padding: 9px 0;
        overflow: auto;
      }

      .cta-container {
        width: 50%;
        float: left;
        > div {
          line-height: normal;
        }
      }

      .pbg-picker {
        .pbg-picker-select-container {
          border: 0;
          height: 20px;
          padding-bottom: 0;

          select {
            height: 20px;
            text-align: center;
            text-align-last: center;
            padding: 1px 0 0;
          }

          .pbg-picker-arrow {
            display: none;
          }
        }
      }
    }

    &.pbg-contributor-card-type-error {
      .pbg-contributor-card-heading {
        background: $coral-error;
        color: $white;
      }
    }
  }
}