@import "../scss/styleguide";

.pbg-button {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  width: 100%;

  > span {
    padding: 16px;
  }

  &.pbg-button-primary {
    background: $blue-linear;
    border-radius: 31px;
    color: $white;
    height: 47px;
  }

  &.pbg-button-secondary {
    background: $pale-grey;
    border: 0;
    border-radius: 31px;
    color: $cool-grey;
    height: 47px;
  }

  &.disabled {
      opacity: 0.65;
    }
}

.pbg-button-hint-container {
  text-align: center;
}