@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-tip-block {
    padding: 16px 16px 19px;
    .pbg-tip-block-title-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 2px;

      i {
        margin-right: 7px;
      }
    }
  }
}
