.shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06); }

.normal-label, .strong-label, .clickable-label {
  color: #24313E;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.strong-label {
  font-weight: bold; }

.clickable-label {
  color: #006AFF; }

.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.label-strong {
  font-weight: 500; }

.pbg-consumer-mobile.pbg-button {
  border: 0;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  width: 100%; }
  .pbg-consumer-mobile.pbg-button > span {
    padding: 16px; }
  .pbg-consumer-mobile.pbg-button.pbg-button-primary {
    background: linear-gradient(90deg, #2EAFFF 0%, #2E3AA1 196.67%);
    border-radius: 31px;
    color: #fff;
    height: 47px; }
  .pbg-consumer-mobile.pbg-button.pbg-button-secondary {
    background: #f5f8fb;
    border: 0;
    border-radius: 31px;
    color: #8f98a3;
    height: 47px; }
  .pbg-consumer-mobile.pbg-button.pbg-button-small {
    background: #f5f8fb;
    border: 0;
    border-radius: 31px;
    color: #2c81ff;
    font-size: 12px;
    line-height: 18px;
    height: 26px; }
  .pbg-consumer-mobile.pbg-button.pbg-button-link {
    background: none;
    border: 0;
    color: #2c81ff;
    font-size: 14px;
    line-height: 20px; }
    .pbg-consumer-mobile.pbg-button.pbg-button-link > span {
      padding: 0; }
  .pbg-consumer-mobile.pbg-button.pbg-button-facebook {
    background: #3b5998;
    border-radius: 31px;
    color: #fff;
    height: 47px; }
    .pbg-consumer-mobile.pbg-button.pbg-button-facebook:before {
      content: url("../img/facebook-icon.svg"); }
  .pbg-consumer-mobile.pbg-button.pbg-button-facebook-small {
    background: #3b5998;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    height: 26px; }
  .pbg-consumer-mobile.pbg-button.disabled {
    opacity: 0.65; }

.pbg-button-hint-container {
  text-align: center; }
