@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-button {
    border: 0;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: $large-font;
    line-height: $large-line-height;
    text-align: center;
    width: 100%;

    .pbg-button-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        margin: 0 4px;
      }
    }

    &:focus {
      outline: none;
    }

    &.pbg-button-primary {
      background: $blue-60;
      box-shadow: $cta-shadow;
      border-radius: 4px;
      color: $white;
      height: 47px;

      &.pbg-button-active {
        background-color: $blue-70;
      }

      &.disabled {
        cursor: default;
        background: $grey-10;
        box-shadow: $cta-disabled-shadow;

        > span {
          color: $grey-60;
        }
      }
    }

    &.submitting {
      background-color: $grey-10;
      cursor: default;
      box-shadow: none;

      > span {
        color: $grey-60;
      }
    }

    &.pbg-button-secondary {
      background: $grey-10;
      border-radius: 4px;
      color: $blue-60;
      height: 47px;

      &.pbg-button-active {
        background-color: $grey-20;
      }

      &.disabled {
        cursor: default;
        background: $grey-10;

        > span {
          color: $grey-60;
        }
      }
    }

    &.pbg-button-small {
      background: $grey-10;
      border-radius: 4px;
      color: $blue-60;
      font-size: $small-font;
      line-height: 18px;
      height: 26px;
      padding: 0;
      outline: none;
    }

    &.pbg-button-link {
      background: none;
      border: 0;
      color: $clear-blue;
      font-size: 14px;
      line-height: 20px;

      > span {
        padding: 0;
      }
    }

    &.pbg-button-facebook {
      background: $facebook-color;
      border-radius: 4px;
      color: $white;
      height: 47px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      &:before {
        content: '';
        background: $facebook-logo;
        width: 18px;
        height: 18px;
        background-size: contain;
      }

      span {
        padding: 0 0 0 8px;
      }
    }

    &.pbg-button-facebook-small {
      background: $facebook-color;
      border-radius: 4px;
      color: $white;
      font-size: $small-font;
      line-height: $small-line-height;
      height: 26px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      &:before {
        content: '';
        background: $facebook-logo;
        width: 18px;
        height: 18px;
        background-size: contain;
      }

      span {
        padding: 0 0 0 8px;
      }
    }

    &.disabled {
      opacity: 0.65;
    }
  }
}

.pbg-button-hint-container {
  text-align: center;
  margin-top: 4px;

  .pbg-hint {
    display: block;
    color: $grey-60;
    font-style: normal;
  }
}
