@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-form-field {
    &.pbg-share-row {
      padding-left: 8px;
      border-left: 4px solid #006AFF;

      .pbg-share-row-amount-wrapper {
        display: flex;

        .pbg-desktop-small-link {
          margin: 2px 0 0 8px;
          cursor: pointer;
        }
      }
    }
  }
}
