@import '../../shared/scss/styleguide';

.pbg-picker {
  width: 100%;

  .pbg-picker-select-label {
    margin-bottom: 4px;
    .pbg-label {
      &.pbg-consumer-mobile {
        color: $gray-80;
      }
    }
  }

  .pbg-picker-select-container {
    background: $white;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    height: 40px;

    select {
      width: 100%;
      background: none;
      border: 1px solid $gray-50;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 9px 8px;
      outline: none;
      vertical-align: middle;
      -moz-appearance: none;
      -webkit-appearance: none;
      &:focus {
        border-color: $blue-60;
      }
      &::-ms-expand {
        display: none;
      }
    }

    .pbg-picker-arrow {
      background: url('../img/pbg-picker-arrow.svg') no-repeat;
      position: absolute;
      pointer-events: none;
      top: 17px;
      bottom: 18px;
      right: 12px;
      width: 10px;
      height: 6px;
    }
  }

  .pbg-mobile-small-normal,
  .pbg-mobile-small-error {
    &.pbg-consumer-mobile {
      display: block;
      margin-top: 4px;
    }
  }

  &:active,
  &:focus {
    .pbg-picker-select-container {
      border: 1px solid $blue-60;
    }
  }

  &.pbg-form-field-error {
    .pbg-label {
      &.pbg-consumer-mobile {
        color: $red-60;
      }
    }
    .pbg-picker-select-container {
      border-color: $red-60;
    }
  }

  &.pbg-form-field-disabled {
    .pbg-picker-select-container {
      border-color: $gray-50;
      background: $gray-10;
      select {
        color: $gray-60;
      }
    }
  }
}
