@import '../../shared/scss/styleguide';

.pbg-picker {
  width: 100%;

  .pbg-picker-select-label {
    margin-bottom: 4px;
    .pbg-label {
      &.pbg-consumer-mobile {
        color: $grey-80;
      }
    }
  }

  .pbg-picker-select-container {
    background: $white;
    border: 1px solid $grey-50;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;

    select {
      width: 100%;
      background: none;
      border: 0;
      color: $grey-80;
      height: 40px;
      line-height: $regular-line-height;
      font-size: $regular-font;
      outline: 0;
      padding: 10px 8px;
      vertical-align: middle;
      -moz-appearance: none;
      -webkit-appearance: none;
      &::-ms-expand {
        display: none;
      }
    }

    .pbg-picker-arrow {
      background: url('../img/pbg-picker-arrow.svg') no-repeat;
      position: absolute;
      pointer-events: none;
      top: 18px;
      right: 15px;
      width: 10px;
      height: 6px;
    }
  }

  .pbg-mobile-hint-normal,
  .pbg-mobile-hint-error {
    &.pbg-consumer-mobile {
      display: inline-block;
      margin-top: 4px;
    }
  }

  &:active,
  &:focus {
    .pbg-picker-select-container {
      border: 1px solid $blue-60;
    }
  }

  &.pbg-form-field-error {
    .pbg-label {
      &.pbg-consumer-mobile {
        color: $red-60;
      }
    }
    .pbg-picker-select-container {
      border-color: $red-60;
    }
  }

  &.pbg-form-field-disabled {
    .pbg-picker-select-container {
      border-color: $grey-50;
      background: $grey-10;
      select {
        color: $grey-60;
      }
    }
  }
}
