@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Condensed);
.pbg-picker {
  width: 100%; }
  .pbg-picker.pbg-form-field-error .pbg-picker-select-container {
    border-color: #f76143; }
  .pbg-picker .pbg-picker-select-container {
    border-bottom: 1px solid;
    border-color: #cfcfcf;
    padding-bottom: 8px;
    position: relative;
    width: 100%; }
    .pbg-picker .pbg-picker-select-container select {
      background: none;
      border: 0;
      color: #2c81ff;
      display: inline-block;
      height: calc(2.25rem + 2px);
      line-height: 20px;
      font-size: 14px;
      max-width: 100%;
      padding: 0 0 8px;
      vertical-align: middle;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: 0;
      position: absolute;
      right: 12px;
      text-align: right;
      text-align-last: right; }
      .pbg-picker .pbg-picker-select-container select option {
        text-align: center; }
      .pbg-picker .pbg-picker-select-container select::-ms-expand {
        display: none; }
    .pbg-picker .pbg-picker-select-container .pbg-picker-arrow {
      background: url("../img/pbg-picker-arrow.svg") no-repeat;
      position: absolute;
      pointer-events: none;
      right: 0px;
      width: 7px;
      height: 7px;
      top: 13px; }
