@import '../../shared/scss/styleguide'

.pbg-picker {
  width: 100%;

  &.pbg-form-field-error {
    .pbg-picker-select-container {
      border-color: $coral-error;
    }
  }

  .pbg-picker-select-container {
    border-bottom: 1px solid;
    border-color: $pinkish-grey;
    padding-bottom: 8px;
    position: relative;
    width: 100%;

    select {
      background: none;
      border: 0;
      color: $clear-blue;
      display: inline-block;
      height: calc(2.25rem + 2px);
      line-height: $regular-line-height;
      font-size: $regular-font;
      max-width: 100%;
      padding: 0 0 8px;
      vertical-align: middle;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: 0;
      position: absolute;
      right: 12px;
      text-align: right;
      text-align-last: right;

      option {
        text-align: center;
      }

      &::-ms-expand {
        display: none;
      }

    }
    .pbg-picker-arrow {
      background: url('../img/pbg-picker-arrow.svg') no-repeat;
      position: absolute;
      pointer-events: none;
      right: 0px;
      width: 7px;
      height: 7px;
      top: 13px;
    }
  }
}
