@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-popover-container {
    position: relative;
    display: inline-block;
  }

  .pbg-popover-tooltip {
    @extend .pbg-desktop-small-text;
    display: none;
    padding: 16px;
    width: 340px;
  }

  .pbg-popover-active {
    display: block;
    position: absolute;
  }
}