@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-form-field {    
    &.pbg-text-area {
      textarea {
        @extend .pbg-desktop-regular-text;
        background: $white;
        border: 1px solid $pinkish-grey;
        margin-bottom: -6px;
        outline: 0;
        padding: 8px;
        width: 100%;
        border-radius: 3px;

        &::placeholder {
          color: $cool-grey;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          line-height: 21px;
          font-size: 14px;
        }
        &:focus {
          outline: none;
        }
      }

      &.pbg-form-field-focused {
        textarea {
          border-color: $blue-60;
        } 
      }

      &.pbg-form-field-error {
        textarea {
          border-color: $coral-error!important;
        }
      }

      &.pbg-form-field-disabled {
        textarea {
          @extend .pbg-desktop-form-field-disabled;
        }
      }

    } 
  }
}