@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-form-field {
    &.pbg-stored-value-selector {
      .pbg-stored-value-selector-container {
        display: flex;
        align-items: center;
        margin-top: 4px;
        margin-bottom: 16px;

        .pbg-picker {
          width: unset;
          flex: 1;
          .pbg-container {
            width: 100%;
          }

          .pbg-picker-button {
            width: 100%;
          }

          .picker-menu-item {
            width: 100%;
          }
        }
      }

      .pbg-stored-value-selector-add-container {
        display: flex;
        align-items: center;
        width: 102px;

        p {
          margin: 0 0 0 16px;
        }

        span {
          margin-left: 16px;
          white-space: nowrap;
        }
      }

      .pbg-stored-value-selector-children {
        margin-right: 102px;
      }
    }
  }
}
