@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-money-field {
    position: relative;

    i {
      position: absolute;
      font-size: 14px;
      left: 7px;
      top: 9px;
      pointer-events: none;
      font-style: normal;
    }

    input {
      padding-left: 15px !important;
    }
  }
}
