@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-div-input {
    width: 234px;
    height: 38px;
    background: $white;
    border: 1px solid $grey-50;
    border-radius: 4px;
  }
}
