@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Condensed);
.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.pbg-consumer-desktop.pbg-add-comment {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .pbg-consumer-desktop.pbg-add-comment .pbg-add-comment-avatar-placeholder {
    margin-right: 15px; }
  .pbg-consumer-desktop.pbg-add-comment .pbg-add-comment-form-placeholder {
    flex-grow: 99; }
    .pbg-consumer-desktop.pbg-add-comment .pbg-add-comment-form-placeholder .pbg-button {
      width: 140px;
      float: right; }
  .pbg-consumer-desktop.pbg-add-comment textarea {
    min-height: 56px; }
  .pbg-consumer-desktop.pbg-add-comment .pbg-hint {
    margin-top: 8px;
    display: block; }
