.shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06); }

.normal-label, .strong-label, .clickable-label {
  color: #24313E;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.strong-label {
  font-weight: bold; }

.clickable-label {
  color: #006AFF; }

.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.label-strong {
  font-weight: 500; }

.pbg-consumer-desktop.pbg-add-comment {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .pbg-consumer-desktop.pbg-add-comment .pbg-add-comment-avatar-placeholder {
    margin-right: 15px; }
  .pbg-consumer-desktop.pbg-add-comment .pbg-add-comment-form-placeholder {
    flex-grow: 99; }
    .pbg-consumer-desktop.pbg-add-comment .pbg-add-comment-form-placeholder .pbg-button {
      width: 140px;
      float: right; }
  .pbg-consumer-desktop.pbg-add-comment textarea {
    min-height: 56px; }
  .pbg-consumer-desktop.pbg-add-comment .pbg-hint {
    margin-top: 8px;
    display: block; }
