@import '../../shared/scss/styleguide';

.pbg-historical-picker {
  &.pbg-form-field-error {
    .pbg-picker-select-container {
      .pbg-picker-arrow {
        @extend .pbg-icon-arrow-down-small-red;
        background-repeat: no-repeat;
      }
    }
  }

  .pbg-picker-select-container {
    padding-bottom: 10px;
    height: 30px;

    select {
      left: 0;
      text-align: left;
      text-align-last: left;
      width: 100%;
    }
  }
}
