@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Condensed);
.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.pbg-historical-picker.pbg-form-field-error .pbg-picker-select-container .pbg-picker-arrow {
  background: url("../img/pbg-picker-arrow-error.svg") no-repeat; }

.pbg-historical-picker .pbg-picker-select-container {
  padding-bottom: 10px;
  height: 30px; }
  .pbg-historical-picker .pbg-picker-select-container select {
    left: 0;
    text-align: left;
    text-align-last: left;
    width: 100%; }
