@import "../../shared/scss/styleguide";

.pbg-consumer-desktop {
  &.pbg-button {
    border: 0;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: $large-font;
    line-height: $small-line-height;
    text-align: center;
    width: 100%;

    > span {
      padding: 16px;
    }

    &.pbg-button-primary {
      font-weight: bold;
      font-size: $regular-font;
      color: $white;
      background-color: $clear-blue;
      box-shadow: 0px 1px 0px $pbg-blue-light, inset 0px 1px 0px rgba(255, 255, 255, 0.18883);
      border-radius: 4px;
      height: 47px;
    }

    &.disabled {
      opacity: 0.65;
    }
  }
}