.shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06); }

.normal-label, .strong-label, .clickable-label {
  color: #24313E;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.strong-label {
  font-weight: bold; }

.clickable-label {
  color: #006AFF; }

.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.label-strong {
  font-weight: 500; }

.pbg-consumer-desktop.pbg-button {
  border: 0;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  padding: 0;
  text-align: center;
  width: 100%; }
  .pbg-consumer-desktop.pbg-button > span {
    padding: 16px; }
  .pbg-consumer-desktop.pbg-button.pbg-button-primary {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-color: #2c81ff;
    box-shadow: 0px 1px 0px #2E3AA1, inset 0px 1px 0px rgba(255, 255, 255, 0.18883);
    border-radius: 4px;
    height: 47px; }
    .pbg-consumer-desktop.pbg-button.pbg-button-primary:hover, .pbg-consumer-desktop.pbg-button.pbg-button-primary:focus {
      background-color: #2568d0; }
    .pbg-consumer-desktop.pbg-button.pbg-button-primary:focus {
      box-shadow: none; }
  .pbg-consumer-desktop.pbg-button.disabled {
    opacity: 0.65; }
