@import "../../shared/scss/styleguide";

.pbg-consumer-desktop {
  &.pbg-button {
    border: 0;
    cursor: pointer;
    box-shadow: $cta-shadow;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: $large-font;
    height: 40px;
    line-height: $small-line-height;
    padding: 0;
    text-align: center;
    width: 100%;

    > span {
      padding: 10px 16px;
      @extend .pbg-desktop-regular-text;
      color: $white;
      font-weight: bold;
    }

    &.pbg-button-primary {
      background-color: $blue-60;

      &.pbg-button-active {
        background-color: $blue-80!important;
        box-shadow: none;
        outline: none;
        height: 39px;
        margin-top: 1px;
        padding-top: 1px;
      }

      &:hover {
        background-color: $blue-70;
      }

      &:focus, &:active {
        outline: none;
      }
    }

    &.submitting {
      background-color: $gray-10;
      box-shadow: none;
      cursor: default;
      height: 39px;
      margin-top: 1px;
      padding-top: 1px;
      &.pbg-button-active, &:hover {
        background-color: $gray-10;
      }

      span {
        color: $gray-60;
      }
    }

    &.disabled {
      background-color: $gray-10;
      box-shadow: $cta-disabled-shadow;
      cursor: default;
      &.pbg-button-active, &:hover {
        background-color: $gray-10;
      }

      span {
        color: $gray-50;
      }
    }

    &.pbg-button-facebook {
      background-color: $blue-facebook;
      width: 100%;
      display: flex;
      align-items: center;
      height: auto;

      &:before {
        content: url('../img/facebook-logo.svg');
        margin: 8px 0 8px 12px;
        height: 24px;
      }

      span {
        flex: 1;
        padding: 12px 12px 12px 8px;
        line-height: 16px;
      }
    }
  }
}
