@import '../../shared/scss/styleguide';

.pbg-primary-modal {
  overflow-y: auto;

  .pbg-modal-dialog {
    top: calc((100% - 658px + 46px) / 2);
    left: calc((100% - 848px) / 2);
    width: 848px;
  }

  .pbg-primary-modal-content {
    display: flex;
  }

  .pbg-primary-modal-main-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pbg-primary-modal-main-content {
    background: $white;
    min-height: 120px;
    width: 538px;
  }

  .pbg-primary-modal-footer-content {
    padding-top: 16px;
    width: 538px;
  }

  .pbg-primary-modal-sidebar-content {
    padding: 40px;
    background: $grey_10;
    width: 280px;
    min-height: 658px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}
