@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-modal {
    position: relative;
    .pbg-modal-alert-stack {
      position: absolute;
      width: 100%;
      padding: 0 40px;
      left: 0;
    }
    .pbg-modal-dialog {
      display: block;
      box-orient: vertical;
      box-direction: normal;

      .pbg-modal-container {
        content: '';
        clear: both;
        display: block;
        position: relative;
        height: 100%;
        overflow: hidden;
        border-radius: 4px;
      }

    }
  }

  &.pbg-modal-with-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1050;
    display: flex;
    align-items: center;

    .pbg-modal-overlay {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background: $black;
      opacity: 0.5;
      z-index: 1040;
    }

    .pbg-modal-dialog {
      z-index: 1050;
    }

    .pbg-modal-close-button {
      background-color: transparent;
      cursor: pointer;
      border: none;
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }
}
