@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-claim-toggle {
    padding: 16px 16px 16px 16px;

    &.pbg-container {
      &.pbg-container-stroked {
        box-sizing: content-box;
      }

      &.claim-toggle-required {
        background: $yellow_10;
      }

      &.claim-toggle-disabled {
        background: $gray-10;

        .pbg-label {
          color: $gray-60;
        }

        .pbg-desktop-paragraph {
          color: $gray-60;
        }
      }
    }
  }
}
