.pbg-clearfix {
  content: "";
  clear: both;
  display: table; }

.pbg-desktop-heading-1 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-size: 38px;
  line-height: 48px; }

.pbg-desktop-heading-2 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-size: 28px;
  line-height: 38px; }

.pbg-desktop-heading-3 {
  font-family: "Roboto", serif;
  font-style: normal;
  color: #24313E;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px; }

.pbg-desktop-label-normal, .pbg-desktop-label-strong, .pbg-desktop-small-strong, .pbg-desktop-label-link, .pbg-desktop-small-link, .pbg-desktop-label-error, .pbg-desktop-small-error, .pbg-desktop-regular-text, .pbg-desktop-secondary-text, .pbg-desktop-paragraph-secondary, .pbg-desktop-form-field-disabled, .pbg-desktop-paragraph, .pbg-desktop-small-text, .pbg-desktop-list-unordered, .pbg-desktop-list-ordered {
  color: #24313E;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.pbg-desktop-label-strong, .pbg-desktop-small-strong {
  font-weight: bold; }

.pbg-desktop-label-link, .pbg-desktop-small-link {
  color: #006AFF; }

.pbg-desktop-label-error, .pbg-desktop-small-error {
  color: #E02E2E; }

.pbg-desktop-secondary-text, .pbg-desktop-paragraph-secondary, .pbg-desktop-form-field-disabled {
  color: #526679; }

.pbg-desktop-small-text {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-link {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-error {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-strong {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-list-unordered {
  list-style-image: url("../../desktop/img/pbg-list-bullet.svg"); }

.regular-text, .pbg-consumer-mobile.pbg-modal .pbg-modal-body {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.label-strong {
  font-weight: 500; }

.pbg-desktop-shadow-level-one {
  box-shadow: 0px 3px 5px rgba(17, 24, 30, 0.05); }

.pbg-desktop-shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06); }

.pbg-desktop-form-field-disabled {
  background: #F0F3F8; }

.pbg-consumer-mobile.pbg-modal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1050; }
  .pbg-consumer-mobile.pbg-modal .pbg-modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 1040; }
  .pbg-consumer-mobile.pbg-modal .pbg-modal-dialog {
    background: #f3f3f3;
    box-orient: vertical;
    box-direction: normal;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1050; }
  .pbg-consumer-mobile.pbg-modal .pbg-modal-heading {
    background: #fff;
    display: flex;
    height: 60px;
    padding: 15px;
    margin-bottom: 15px; }
    .pbg-consumer-mobile.pbg-modal .pbg-modal-heading .pbg-button {
      padding: 0;
      text-align: left; }
    .pbg-consumer-mobile.pbg-modal .pbg-modal-heading h2 {
      flex-grow: 1;
      text-align: center; }
  .pbg-consumer-mobile.pbg-modal .pbg-modal-body {
    background: #fff;
    padding: 17px 15px; }
  .pbg-consumer-mobile.pbg-modal .pbg-modal-cta {
    background: #fff;
    margin-top: 1px;
    padding: 15px; }
    .pbg-consumer-mobile.pbg-modal .pbg-modal-cta .pbg-button {
      margin-bottom: 15px; }
      .pbg-consumer-mobile.pbg-modal .pbg-modal-cta .pbg-button.last {
        margin-bottom: 0; }
