@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-popover-container {
    position: relative;
    display: inline-block;
  }

  .pbg-popover {
    display: none;
    padding: 24px;
  }

  .pbg-popover-active {
    display: block;
    position: absolute;
  }
}