@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-popover-container {
    position: relative;
    display: inline-block;

    .pbg-popover {
      padding: 24px;
      min-width: 300px;
    }

    .pbg-popover-inactive {
      display: none!important;
    }

    .pbg-popover-active {
      display: block;
      position: absolute;
    }
  }
}
