.pbg-desktop-h1 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-size: 38px;
  line-height: 48px; }

.pbg-desktop-h2 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-size: 28px;
  line-height: 38px; }

.pbg-desktop-h3 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px; }

.pbg-desktop-label-normal, .pbg-desktop-label-strong, .pbg-desktop-small-strong, .pbg-desktop-label-link, .pbg-desktop-small-link, .pbg-desktop-label-error, .pbg-desktop-small-error, .pbg-desktop-regular-text, .pbg-desktop-secondary-text, .pbg-form-field-disabled, .pbg-desktop-small-text {
  color: #24313E;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.pbg-desktop-label-strong, .pbg-desktop-small-strong {
  font-weight: bold; }

.pbg-desktop-label-link, .pbg-desktop-small-link {
  color: #006AFF; }

.pbg-desktop-label-error, .pbg-desktop-small-error {
  color: #E02E2E; }

.pbg-desktop-secondary-text, .pbg-form-field-disabled {
  color: #526679; }

.pbg-desktop-small-text {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-link {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-error {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-strong {
  font-size: 12px;
  line-height: 16px; }

.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.label-strong {
  font-weight: 500; }

.pbg-desktop-shadow-level-one {
  box-shadow: 0px 3px 5px rgba(17, 24, 30, 0.05); }

.pbg-desktop-shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06); }

.pbg-form-field-disabled {
  background: #F0F3F8; }

.pbg-consumer-desktop.pbg-form-field.pbg-text-field .pbg-label {
  visibility: visible;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  color: #24313E;
  line-height: 21px;
  display: block;
  margin: 0 0 4px 2px; }

.pbg-consumer-desktop.pbg-form-field.pbg-text-field .pbg-hint {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #526679; }

.pbg-consumer-desktop.pbg-form-field.pbg-text-field input {
  background-color: #FFF;
  border: 1px solid #8093A6;
  border-radius: 4px;
  padding: 10px;
  color: #24313E;
  width: 100%; }
  .pbg-consumer-desktop.pbg-form-field.pbg-text-field input::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #526679; }
  .pbg-consumer-desktop.pbg-form-field.pbg-text-field input:focus {
    outline: none;
    border-color: #006AFF; }
  .pbg-consumer-desktop.pbg-form-field.pbg-text-field input:disabled {
    background-color: #F0F3F8;
    color: #8093A6; }

.pbg-consumer-desktop.pbg-form-field.pbg-text-field.pbg-form-field-error .pbg-hint {
  color: #E02E2E; }

.pbg-consumer-desktop.pbg-form-field.pbg-text-field.pbg-form-field-error input {
  border-color: #E02E2E; }
