@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-form-field {
    &.pbg-text-field {
      position: relative;
      height: 40px;

      .pbg-label {
        visibility: visible;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        color: $grey-80;
        line-height: 21px;
        display:block;
        margin: 0 0 4px 2px;

        &.pbg-label-error {
          span {
            color: $red-60;
          }
        }
      }

      .pbg-hint {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $grey-60;
      }

      input {
        background-color: #FFF;
        border: 1px solid $grey-50;
        border-radius: 4px;
        padding: 10px;
        color: $grey-80;
        width: 100%;

        &::placeholder {  
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: $grey-60;
        }

        &:focus {
          outline: none;
          border-color: $blue-60;
        }

        &:disabled {
          background-color: $grey-10;
          color: $grey-50;
        }
      }

      .pbg-text-field-icon {
        position: absolute;
        top: 9px;
        right: 12px;
        width: 16px;
        height: 16px;
      }

      
      &.pbg-form-field-error {
        .pbg-hint {
          color: $red-60;
        }
        input {
          border-color: $red-60;
        }
      }
    }
  }
}