@import '../../shared/scss/styleguide';

.pbg-consumer-mobile.pbg-form-field.pbg-text-field {
  input.pbg-money-field {
    &::placeholder {
      color: $blue-60;
      opacity: 1;
    }

    &:invalid {
      box-shadow: none;
    }

    padding: 9px 7px;
    text-align: center;
    color: $blue-60;
  }
}
