@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Condensed);
.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.label-strong {
  font-weight: 500; }

.pbg-consumer-desktop.pbg-divider {
  height: 1px;
  border-bottom: 1px solid #f3f3f3;
  width: 100%; }
