@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-divider {
    position: relative;

    .pbg-divider--line {
      height: 1px;
      width: 100%;
      background: $grey-30;
    }
    .pbg-divider--text {
      position: absolute;
      top: -9px;
      left: 0;
      line-height: 16px;
      background: $white;
      span {
        &:after {
          content: ' ';
        }
      }
    }

    &.has-label {
      .pbg-divider--line {
        margin: 9px 0 11px;
      }
    }
  }
}
