@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-modal-branding {
    width: 200px;

    .pbg-modal-branding-header {
      padding: 0 20px 0 20px;
      position: relative;
      width: 200px;
      height: 76px;
      text-align: center;

      .pbg-modal-branding-merchant-logo {
        width: 160px;
        height: 60px;
        position: relative;

        img {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }

      .pbg-modal-branding-powered-by-logo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 131px;
        height: 16px;
        line-height: 16px;

        span {
          @extend .pbg-desktop-small-text;
          color: $grey-60;
          margin-right: 4px;
        }

        .pbg-logo-powered-by {
          margin-top: 2px;
          vertical-align: middle;
        }
      }
    }

    .pbg-modal-branding-footer {
      margin-top: 8px;
      height: 29px;

      .pbg-modal-branding-footer-content {
        margin-top: 8px;
      }
    }
  }
}
