.pbg-clearfix {
  content: "";
  clear: both;
  display: table; }

.pbg-desktop-h1 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-size: 38px;
  line-height: 48px; }

.pbg-desktop-h2 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-size: 28px;
  line-height: 38px; }

.pbg-desktop-h3 {
  font-family: "Roboto", serif;
  font-style: normal;
  color: #24313E;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px; }

.pbg-desktop-label-normal, .pbg-desktop-label-strong, .pbg-desktop-small-strong, .pbg-desktop-label-link, .pbg-desktop-small-link, .pbg-desktop-label-error, .pbg-desktop-small-error, .pbg-desktop-regular-text, .pbg-desktop-secondary-text, .pbg-desktop-form-field-disabled, .pbg-desktop-small-text, .pbg-consumer-desktop.pbg-modal-branding .modal-branding-header .modal-branding-powered-by-logo .modal-branding-powered-by-text {
  color: #24313E;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.pbg-desktop-label-strong, .pbg-desktop-small-strong {
  font-weight: bold; }

.pbg-desktop-label-link, .pbg-desktop-small-link {
  color: #006AFF; }

.pbg-desktop-label-error, .pbg-desktop-small-error {
  color: #E02E2E; }

.pbg-desktop-secondary-text, .pbg-desktop-form-field-disabled {
  color: #526679; }

.pbg-desktop-small-text, .pbg-consumer-desktop.pbg-modal-branding .modal-branding-header .modal-branding-powered-by-logo .modal-branding-powered-by-text {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-link {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-error {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-strong {
  font-size: 12px;
  line-height: 16px; }

.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.label-strong {
  font-weight: 500; }

.pbg-desktop-shadow-level-one {
  box-shadow: 0px 3px 5px rgba(17, 24, 30, 0.05); }

.pbg-desktop-shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06); }

.pbg-desktop-form-field-disabled {
  background: #F0F3F8; }

.pbg-consumer-desktop.pbg-modal-branding {
  width: 160px; }
  .pbg-consumer-desktop.pbg-modal-branding .modal-branding-header {
    position: relative;
    width: 160px;
    height: 77px;
    text-align: center; }
    .pbg-consumer-desktop.pbg-modal-branding .modal-branding-header .modal-branding-merchant-logo {
      position: absolute;
      bottom: 24px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
      .pbg-consumer-desktop.pbg-modal-branding .modal-branding-header .modal-branding-merchant-logo img {
        max-width: 100%;
        max-height: 53px; }
    .pbg-consumer-desktop.pbg-modal-branding .modal-branding-header .modal-branding-powered-by-logo {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 131px; }
      .pbg-consumer-desktop.pbg-modal-branding .modal-branding-header .modal-branding-powered-by-logo .modal-branding-powered-by-text {
        color: #526679;
        margin-right: 4px; }
  .pbg-consumer-desktop.pbg-modal-branding .modal-branding-footer {
    height: 38px; }
