@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-hint {
    @extend .pbg-desktop-secondary-text;
    @extend .pbg-desktop-small-text;
    &.pbg-hint-error {
      @extend .pbg-desktop-small-error;
      &:before {
        content: url('../img/small-error-icon.svg');
        margin-right: 4px;
        position: relative;
        top: 3px;
      }
    }

    &.pbg-hint-clickable, &.pbg-hint-link {
      @extend .pbg-desktop-small-link;
      cursor: pointer;
    }

    &.pbg-hint-strong {
      @extend .pbg-desktop-small-strong;
    }
  }

}
