.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.label-strong {
  font-weight: 500; }

.pbg-consumer-desktop span.pbg-hint {
  color: #8f98a3;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 12px; }

.pbg-consumer-desktop span.pbg-hint-error {
  color: #f76143; }

.pbg-consumer-desktop span.pbg-hint-clickable {
  color: #2c81ff;
  cursor: pointer; }
