@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Condensed);
.pbg-consumer-desktop span.pbg-hint {
  color: #8f98a3;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 12px; }

.pbg-consumer-desktop span.pbg-hint-error {
  color: #f76143; }

.pbg-consumer-desktop span.pbg-hint-clickable {
  color: #2c81ff;
  cursor: pointer; }
