@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-section-card {
    background: $white;
    padding: 16px 15px;
    &.disabled {
      opacity: 0.6;
    }
    @extend .pbg-desktop-shadow-level-one;
    .pbg-section-card-header {
      display: flex;
      flex-direction: column;
      .pbg-section-card-header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pbg-section-card-header-text {
          display: flex;
          flex-grow: 1;
          .pbg-section-card-step-number {
            margin-right: 8px;
          }
          .pbg-section-card-completed-icon {
            margin-right: 8px;
          }
        }
        .pbg-section-card-completed-icon {
          background: url('../img/step-completed-check.svg') no-repeat;
          width: 24px;
          height: 24px;
          background-size: contain;
          margin-top: 1px;
        }
        .pbg-section-card-completed-label {
          @extend .pbg-mobile-label-secondary;
          color: $gray-60;
          margin-top: 4px;
        }
      }
    }
    .pbg-section-card-content {
      margin-top: 6px;
    }
  }
}
