@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Condensed);
.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.activity-comment {
  width: 100%;
  margin-bottom: 15px; }
  .activity-comment .pbg-activity-thumbnail {
    display: block;
    width: 35px;
    height: 100%;
    float: left;
    margin-right: 15px;
    padding-top: 22px; }
  .activity-comment .activity-comment-text {
    float: left;
    border: 1px solid #cfcfcf;
    padding: 14px 16px 14px 16px;
    border-radius: 4px;
    position: relative;
    background-color: #fff;
    width: 100%; }
    .activity-comment .activity-comment-text div.activity-comment-bubbletip {
      width: 14px;
      height: 14px;
      border: 1px solid #cfcfcf;
      position: absolute;
      left: -8px;
      top: 32px;
      transform: rotate(45deg);
      background-color: #fff;
      border-right: none;
      border-top: none; }
    .activity-comment .activity-comment-text p.activity-comment-title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      line-height: 21px;
      font-size: 14px;
      color: #4c4c4c;
      margin-bottom: 5px; }
    .activity-comment .activity-comment-text p.activity-comment-time {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: normal;
      line-height: 16px;
      font-size: 12px;
      position: absolute;
      top: 8px;
      right: 14px;
      color: #8f98a3;
      text-transform: lowercase; }
    .activity-comment .activity-comment-text p.activity-comment-comment {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: #8f98a3;
      margin: 0; }
