.pbg-desktop-h1 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-size: 38px;
  line-height: 48px; }

.pbg-desktop-h2 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-size: 28px;
  line-height: 38px; }

.pbg-desktop-h3 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  color: #24313E;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px; }

.pbg-desktop-label-normal, .pbg-desktop-label-strong, .pbg-desktop-small-strong, .pbg-desktop-label-link, .pbg-desktop-small-link, .pbg-desktop-label-error, .pbg-desktop-small-error, .pbg-desktop-regular-text, .pbg-desktop-secondary-text, .pbg-desktop-form-field-disabled, .pbg-desktop-small-text {
  color: #24313E;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.pbg-desktop-label-strong, .pbg-desktop-small-strong {
  font-weight: bold; }

.pbg-desktop-label-link, .pbg-desktop-small-link {
  color: #006AFF; }

.pbg-desktop-label-error, .pbg-desktop-small-error {
  color: #E02E2E; }

.pbg-desktop-secondary-text, .pbg-desktop-form-field-disabled {
  color: #526679; }

.pbg-desktop-small-text {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-link {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-error {
  font-size: 12px;
  line-height: 16px; }

.pbg-desktop-small-strong {
  font-size: 12px;
  line-height: 16px; }

.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.label-strong {
  font-weight: 500; }

.pbg-desktop-shadow-level-one {
  box-shadow: 0px 3px 5px rgba(17, 24, 30, 0.05); }

.pbg-desktop-shadow-level-two {
  box-shadow: 0px 5px 10px rgba(17, 24, 30, 0.06); }

.pbg-desktop-form-field-disabled {
  background: #F0F3F8; }

.activity-comment {
  width: 100%;
  margin-bottom: 15px; }
  .activity-comment .pbg-activity-thumbnail {
    display: block;
    width: 35px;
    height: 100%;
    float: left;
    margin-right: 15px;
    padding-top: 22px; }
  .activity-comment .activity-comment-text {
    float: left;
    border: 1px solid #cfcfcf;
    padding: 14px 16px 14px 16px;
    border-radius: 4px;
    position: relative;
    background-color: #fff;
    width: 100%; }
    .activity-comment .activity-comment-text div.activity-comment-bubbletip {
      width: 14px;
      height: 14px;
      border: 1px solid #cfcfcf;
      position: absolute;
      left: -8px;
      top: 32px;
      transform: rotate(45deg);
      background-color: #fff;
      border-right: none;
      border-top: none; }
    .activity-comment .activity-comment-text p.activity-comment-title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      line-height: 21px;
      font-size: 14px;
      color: #4c4c4c;
      margin-bottom: 5px; }
    .activity-comment .activity-comment-text p.activity-comment-time {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: normal;
      line-height: 16px;
      font-size: 12px;
      position: absolute;
      top: 8px;
      right: 14px;
      color: #8f98a3;
      text-transform: lowercase; }
    .activity-comment .activity-comment-text p.activity-comment-comment {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: #8f98a3;
      margin: 0; }
