
svg.pbg-avatar {
  object-fit: cover;
}

.pbg-avatar {
  border-radius: 50%;
  margin-right: 8px;
}

div.pbg-avatar {
  border-radius: 50%;

  > div {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    padding-top: 6px;
    text-align: center;
    font-family: "roboto-mono", monospace;
  }

  &.single {
    > div {
      padding-top: 6px;
    }
  }
}
