
svg.pbg-avatar {
  display: block;
  object-fit: cover;
}

.pbg-avatar {
  border-radius: 50%;
  margin-right: 8px;
}

div.pbg-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  > div {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    font-family: "roboto-mono", monospace;
  }

  &.pbg-avatar-18 >div {
    font-size: 8px;
    line-height: 12px;
  }

  &.pbg-avatar-32 >div {
    font-size: 14px;
    line-height: 20px;
  }

  &.pbg-avatar-40 >div {
    font-size: 16.6667px;
    line-height: 20px;
  }

  &.pbg-avatar-48 >div {
    font-size: 20px;
    line-height: 30px;
  }

  &.pbg-avatar-80 >div {
    font-size: 35.5556px;
    line-height: 42px;
  }
}
