@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Condensed);
.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.pbg-heading {
  color: #4c4c4c;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal; }

h1.pbg-h1 {
  line-height: normal;
  font-size: 22px; }

h2.pbg-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  font-size: 19px; }

h3.pbg-h3 {
  line-height: 22px;
  font-size: 15px;
  font-weight: 500; }
