@import '../../shared/scss/styleguide';

.pbg-secondary-modal {
  .pbg-modal-dialog {
    margin: auto;
  }

  .pbg-modal-content {
    background: $white;
    padding: 32px;
    width: 450px;
    border-radius: 4px;
    text-align: center;
  }

  .pbg-modal-header {
    padding-bottom: 8px;
  }

  .pbg-modal-icon {
    margin-bottom: 24px;
  }
}
