.pbg-form-field.pbg-datetime-picker .pbg-datetime-picker-pickers-wrapper .pbg-datetime-picker-container {
  width: 50%;
  float: left; }
  .pbg-form-field.pbg-datetime-picker .pbg-datetime-picker-pickers-wrapper .pbg-datetime-picker-container:first-child {
    padding-right: 10px; }
