@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Condensed);
.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.pbg-subheader-wrapper {
  display: flex;
  align-items: center;
  width: 100%; }
  .pbg-subheader-wrapper .pbg-subheader-text {
    flex-grow: 0;
    font-size: 18px;
    line-height: 21px;
    color: #4c4c4c;
    margin-right: 16px; }
  .pbg-subheader-wrapper .pbg-subheader-divider {
    flex-grow: 1;
    height: 1px;
    background-color: #cfcfcf; }
