@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-form-field {
    &.pbg-phone-field {
      .pbg-phone-field-button-container {
        display: flex;
        align-items: center;

        .pbg-picker {
          width: unset;
        }
      }

      .pbg-phone-field-add-container {
        display: flex;
        align-items: center;

        p {
          margin: 0 0 0 16px;
        }

        .pbg-button {
          margin-left: 16px;
          box-shadow: none;

          > span {
            padding: 0;
            color: $blue-60;
            font-weight: normal;
          }
        }
      }
    }
  }
}
