@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed);
.activity-card .activity-thumbnail {
  display: block;
  width: 35px;
  height: 100%;
  float: left;
  margin-right: 15px;
  padding-top: 5px; }

.activity-card .activity-card-text {
  float: left; }
  .activity-card .activity-card-text p.activity-card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    font-size: 14px;
    color: #4c4c4c;
    margin-bottom: 5px; }
  .activity-card .activity-card-text p.activity-card-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
    color: #8f98a3; }
