@import "../../shared/scss/styleguide";

.pbg-consumer-desktop {
  .pbg-label, {
    @extend .pbg-desktop-label-normal;
    margin-bottom: 0;

    &.required {
      &:after {
        content: ' *';
      }
    }

    &.pbg-label-strong {
      @extend .pbg-desktop-label-strong;
    }

    &.pbg-label-active {
      @extend .pbg-desktop-label-link;
      > a {
        cursor: pointer;
      }
    }

    &.pbg-label-secondary {
      color: $cool-grey;
    }

    &.pbg-label-input {
      color: $black;
    }

    &.pbg-label-clickable {
      @extend .pbg-desktop-label-link;
      cursor: pointer;
    }

    &.pbg-label-error {
      @extend .pbg-desktop-label-error;
    }
  }
}