@import '../../shared/scss/styleguide';

.pbg-consumer-desktop {
  &.pbg-simple-number-stepper {
    @extend .pbg-clearfix;
    border: 1px solid $gray-50;
    border-radius: 3px;
    overflow: hidden;

    button {
      border: 0;
      color: $blue-60;
      cursor: pointer;
      float: left;
      height: 38px;
      padding: 0;
      outline: 0;
      width: 24px;
    }

    input {
      @extend .pbg-desktop-heading-3;
      -webkit-text-fill-color: currentcolor;
      background-color: $white;
      border: 0;
      float: left;
      margin: 0;
      text-align: center;
      width: 42px;
      height: 38px;
    }

    .has-danger {
      input {
        background-color: $coral-light;
        border-color: $coral;
      }
    }

    .pbg-simple-number-stepper-icon {
      background-repeat: no-repeat;
      background-position: center;
    }

    [type='number']::-webkit-outer-spin-button,
    [type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    [type='number'] {
      -moz-appearance: textfield;
      width: 40px;

      &:focus {
        outline: 0;
      }
    }
  }
}
