@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-claim-toggle {
    .pbg-claim-toggle-content {
      display: flex;
      .pbg-claim-toggle-primary-text {
        @extend .pbg-mobile-label-strong;
        margin-left: 8px;
        &.error {
          color: $red-60;
        }
      }
    }
    .pbg-claim-toggle-secondary-text {
      .hidden-checkbox {
        visibility: hidden;
        margin-right: 8px;
        width: 14px;
      }
      @extend .pbg-mobile-label-normal;
      padding-top: 4px;
    }
    .pbg-checkbox {
      line-height: 14px;
      width: 14px;
    }
  }
}
