@import '../../shared/scss/styleguide';

.pbg-form-field {
  &.pbg-password-field {
    &.pbg-form-field-error {
      input {
        border-color: $red-60;
      }
    }
    .pbg-password-field-label {
      margin-bottom: 4px;
    }
    .pbg-forgot-password-container {
      line-height: 15px;
      margin-top: 4px;

      .pbg-mobile-hint-clickable {
        visibility: visible;
        margin-left: 4px;
      }
    }
    input {
      -webkit-appearance: none;
      background: $white;
      border: 1px solid $gray-50;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px 8px;
      font-size: 14px;
      line-height: 18px;
      width: 100%;
      outline: none;
      &:focus {
        border-color: $blue-60;
      }
    }
  }
}
