@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Condensed);
.regular-text {
  color: #4c4c4c;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px; }

.pbg-form-field.pbg-password-field .pbg-forgot-password-container {
  position: relative; }
  .pbg-form-field.pbg-password-field .pbg-forgot-password-container .pbg-hint-clickable {
    position: absolute;
    visibility: visible;
    right: 0; }
