@import '../../shared/scss/styleguide';

.pbg-consumer-mobile {
  &.pbg-div-input {
    label {
      margin: 0 0 4px;
      display: flex;
    }

    .pbg-div-input-field {
      height: 40px;
      background: $white;
      border: 1px solid $gray-50;
      border-radius: 4px;

      &.pbg-div-input-field-error {
        border-color: $red-60;
      }

      &.pbg-div-input-field-focused {
        border-color: $blue-60;
      }
    }

    .pbg-mobile-small-error {
      margin-top: 4px;
    }
  }
}
