// Color palette

$almost-white: #f3f3f3;
$pbg-blue: #2e3aa1;
$pbg-blue-light: rgba(46, 58, 161, .78);
$cloudy-blue: #b4bfcc;
$clear-blue: #2c81ff;
$sapphire-blue: #384c9f;
$emerald-green: #5ad17c;
$dark-green: #226134;
$bluish: #2568d0;
$pale-grey: #f5f8fb;
$greyish-brown: #4c4c4c;
$white: #fff;
$cool-grey: #8f98a3;
$pinkish-grey: #cfcfcf;
$coral: #f86143;
$coral-error: #f76143;
$coral-light: #fbe9e5;
$black: #000;
$black-19: rgba(0, 0, 0, .19);
$black-25: rgba(0, 0, 0, .25);
$white-1: rgba(255, 255, 255, .1);
$facebook-color: #3b5998;
$blue-gradient: linear-gradient(267deg, $pbg-blue-light, $pbg-blue);
