.story-wrapper {
  margin: 10px 0;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.flex {
  display: flex;
}

.flex.between {
  justify-content: space-between;
}

.flex.middle {
  align-items: center;
  justify-content: center;
}

.container-fluid.grey {
  background: #f3f3f3;
}

.container-fluid.grey-20 {
  background: #E4EBF2;
}

.container-fluid.grey-20-box {
  background: #E4EBF2;
  min-height: 300px;
}

.mobile-size {
  width: 290px;
}

.middle-size {
  width: 560px;
}
